<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-3 col-sm-4 col-sm-offset-2" style="margin-bottom: 60px;">
			<img src="img/logo_naet.png" class="img-responsive" alt="logo NAET" width="200" />
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="about-text">
				<div class="section-title">
					<h4>Fabienne Jordan-Grossrieder</h4>
					<h2>vous souhaite la bienvenue au&nbsp;<strong>CNL</strong></h2>
					<hr />
					<div class="clearfix"></div>
				</div>
				<p class="intro">Vous y découvrirez des solutions naturelles pour maintenir, améliorer ou recouvrer votre santé.</p>
				<ul class="about-list">
					<li>
						<span class="fa fa-dot-circle-o"></span> <strong>Naturopathie</strong>
					</li>
					<li>
						<span class="fa fa-dot-circle-o"></span> <strong>Nutrition</strong>
					</li>
					<li>
						<span class="fa fa-dot-circle-o"></span> <strong>Soins thérapeutiques</strong>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
