<div class="container">

	<div class="section-title text-center center">
		<h2>Découvrez nos <strong>articles</strong></h2>
		<div class="line">
			<hr />
		</div>
		<div class="clearfix"></div>
		<small><em> </em></small>
	</div>

	<div class="space"></div>

	<div id="lightbox_2" class="row">
	{{ range .Data.Pages }}
	{{ if eq .Type "articles" }}
		{{ $currentCategoryUrl := .Params.thumbnail.image | printf "%simages/%s" .Permalink }}
		<div class="col-xs-6 col-sm-4 col-md-3 branding">
			<div class="portfolio-item">
				<div class="hover-bg">
					<a href="{{ .Permalink }}">
						<div class="non-hover-text">
							<h4><br/>{{ .Params.thumbnail.desc | safeHTML }}<br/></h4>
							<small> </small>
						</div>

						<div class="hover-text">
							<h4>{{ .Params.thumbnail.desc | safeHTML }}</h4>
							<small> </small>
							<div class="clearfix"></div>
							<i class="fa fa-plus"></i>
						</div>
						<img src="{{ $currentCategoryUrl }}" class="img-responsive" alt="..." />
					</a>
				</div>
			</div>
		</div>
	{{ end }}
	{{ end }}
	</div>

</div>
