<!DOCTYPE html>
<html lang="fr">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8" />
	{{ `<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->` | safeHTML }}
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>CNL Naturopathie</title>
	<meta name="description" content="CNL — Centre de Naturopathie Lausanne — Des solutions naturelles pour maintenir, améliorer ou recouvrer votre santé. Naturopathie, Nutrition & Soins thérapeutiques" />
	<meta name="keywords" content="naturopathie,Lausanne,Suisse,nutrition,soins thérapeutiques,sympathicothérapie,spagyrie,réflexologie,phytothérapie,médecine chinoise,massage thérapeutique,massage ayur­védique,hygiène vitale,homéopathie,endermologie,drainage lymphatique,biorésonnance MORA,veinologie,aroma­thérapie" />
	<meta name="author" content="Nicolas Jeanmonod" />

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
<!--
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png"                             />
	<link rel="apple-touch-icon" href="/img/apple-touch-icon-72x72.png"   sizes="72x72"       />
	<link rel="apple-touch-icon" href="/img/apple-touch-icon-114x114.png" sizes="114x114"     />
-->

	<!-- Stylesheet
	================================================== -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css" />

	<!-- Slider
	================================================== -->
	<link rel="stylesheet" type="text/css" media="screen" href="/css/owl.carousel.css"  />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/owl.theme.css"     />

</head>
<body>
{{ partial "google-analytics.html" . }}