<div class="container">
	<a href="ressources/livre-d-or/" style="color:inherit">
		<div class="section-title center">
			<h2>Livre <strong>d’or</strong></h2>
			<div class="line">
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div id="testimonial" class="owl-carousel owl-theme">
					<div class="item">
						<h5>Fabienne a toujours été là quand j’en ai eu besoin. En écoutant et appliquant ses conseils j’ai eu des résultats extraordinaires. Un grand merci !</h5>
						<p><strong> Simon Olivetta</strong>, Vufflens-la-Ville</p>
					</div>

					<div class="item">
						<h5>Je remercie vraiment Fabienne Jordan qui m’a écoutée, entendue, guidée, soutenue et qui m’a surtout permit d’aller beaucoup mieux.</h5>
						<p><strong>Laure</strong>, Sion</p>
					</div>

					<div class="item">
						<h5>Je me sens revivre !</h5>
						<p><strong>Louise Yah</strong>, Yverdon</p>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>
