<div class="container">
	<div class="section-title center">
		<h2>Livre <strong>d’or</strong></h2>
		<div class="line">
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div id="testimonial" class="owl-carousel owl-theme">
				<div class="item">
					<h5>Un grand merci au CNL !</h5>
					<p><strong>Denise Martin</strong>, Lausanne</p>
				</div>

				<div class="item">
					<h5>Résultats extraordinaires !</h5>
					<p><strong>Samuel Hun</strong>, Préverenges</p>
				</div>

				<div class="item">
					<h5>Je me sens revivre !</h5>
					<p><strong>Louise Yah</strong>, Yverdon</p>
				</div>
			</div>
		</div>
	</div>
</div>
