<!-- Navigation
==========================================-->
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">CNL Naturopathie</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="page-scroll" href="#tf-home">Bienvenue</a></li>
				<li><a class="page-scroll" href="#tf-team">Thérapeutes</a></li>
				<li><a class="page-scroll" href="#tf-services">Thérapies</a></li>
				<li><a class="page-scroll" href="#tf-works">Articles</a></li>
				<li><a class="page-scroll" href="#tf-clients">Ressources</a></li>
				<li><a class="page-scroll" href="#tf-contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
<!--
<header id="header">
	<nav class="navbar navbar-inverse" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo" height="30px" /></a>
			</div>

			<div class="collapse navbar-collapse navbar-right">
				<ul class="nav navbar-nav">

					<li class="active"><a href="/index/">Bienvenue</a></li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Divers <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="/divers/coin-lecture/"                     >Coin lecture</a></li>
							<li><a href="/divers/sites-d-interet/"                  >Sites d’intérêt</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="/articles/allergie/"                       >L’allergie</a></li>
							<li><a href="/articles/auriculotherapie/"               >Auriculothérapie</a></li>
							<li><a href="/articles/cure-de-printemps-pour-le-foie/" >Cure de printemps pour le foie</a></li>
							<li><a href="/articles/eft/"                            >EFT</a></li>
							<li><a href="/articles/iridologie/"                     >Iridologie</a></li>
							<li><a href="/articles/l-amour/"                        >L’amour</a></li>
							<li><a href="/articles/l-information/"                  >L’information</a></li>
							<li><a href="/articles/le-chemin-vers-l-acceptation/"   >Le chemin vers l’acceptation</a></li>
							<li><a href="/articles/le-lait-en-question/"            >Le lait en question</a></li>
							<li><a href="/articles/le-reproche-l-offense/"          >Le reproche, l’offense</a></li>
							<li><a href="/articles/le-sport-d-endurance/"           >Le sport d’endurance</a></li>
							<li><a href="/articles/les-trois-corps/"                >Les trois corps</a></li>
							<li><a href="/articles/liberation-anne-givaudan/"       >Libération — Anne Givaudan</a></li>
							<li><a href="/articles/lier-delier-allier/"             >Lier, délier, allier</a></li>
							<li><a href="/articles/migraine/"                       >La migraine</a></li>
							<li><a href="/articles/osteopathie/"                    >Ostéopathie</a></li>
							<li><a href="/articles/prevention-hiver/"               >Prévention pour l’hiver</a></li>
							<li><a href="/articles/refroidissements/"               >Les refroidissements</a></li>
							<li><a href="/articles/ritaline/"                       >Hyperactivité – déficit d’attention</a></li>
							<li><a href="/articles/vaccins/"                        >La phobie des microbes, la rançon des vaccins</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Thérapeutes <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="/therapeutes/fabienne-jordan-grossrieder/" >Fabienne Jordan-Grossrieder</a></li>
							<li><a href="/therapeutes/martine-bergamin/"            >Martine Bergamin</a></li>
							<li><a href="/therapeutes/philippe-gamondes/"           >Philippe Gamondès</a></li>
							<li><a href="/therapeutes/audrey-vitton/"               >Audrey Vitton</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Thérapies <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="/therapies/applications/"                  >La Naturopathie et ses applications</a></li>
							<li><a href="/therapies/aromatherapie/"                 >Aromathérapie</a></li>
							<li><a href="/therapies/drainage/"                      >Le drainage lymphatique Vodder</a></li>
							<li><a href="/therapies/endermologie/"                  >L’endermologie</a></li>
							<li><a href="/therapies/homeopathie/"                   >Homéopathie</a></li>
							<li><a href="/therapies/hygiene-vitale/"                >Hygiène vitale</a></li>
							<li><a href="/therapies/massage-ayurvedique/"           >Massage ayurvédique</a></li>
							<li><a href="/therapies/massage-therapeutique/"         >Massage thérapeutique aux huiles essentielles</a></li>
							<li><a href="/therapies/medecine-chinoise/"             >Médecine traditionnelle chinoise</a></li>
							<li><a href="/therapies/moratherapie/"                  >La biorésonnance avec appareil MORA ou le rationnel en médecine énergétique</a></li>
							<li><a href="/therapies/phytotherapie/"                 >Phytothérapie</a></li>
							<li><a href="/therapies/reflexologie/"                  >La réflexologie podale</a></li>
							<li><a href="/therapies/spagyrie/"                      >Spagyrie</a></li>
							<li><a href="/therapies/sympathicotherapie/"            >Sympathicothérapie</a></li>
							<li><a href="/therapies/veinologie/"                    >Veinologie</a></li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</nav>
</header>
 -->
